NODE_ENV=development
APP_NAME=Tutibocado Protocolos API
PORT=4100

DB_CLIENT=pg

# SQL Server settings (used when DB_CLIENT=mssql)
DB_SERVER=127.0.0.1
DB_INSTANCE=
DB_PORT=1433
DB_DATABASE=tuttibocado sistema operativo
DB_USER=sa
DB_PASSWORD=roberto123
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

# PostgreSQL settings (used when DB_CLIENT=pg)
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=postgres
DB_USER=postgres
DB_PASSWORD=1234567890
DB_SSL=false

JWT_ACCESS_SECRET=cambia_esto_a_un_secreto_largo_123
JWT_ACCESS_EXPIRES=12h

ADMIN_NAME=Administrador General
ADMIN_EMAIL=admin@tutibocado.local
ADMIN_PASSWORD=Admin123!
